<!doctype html>
<html lang="en">
<head>
    <title>PDF Output</title>
</head>


<body>
    <h2>Expenses List</h2>
    <table class="talbe">
        <thead class="thread">
            <tr>
                <th>No</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Description</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{expense.amount}}</td>
                <td>{{expense.category}}</td>
                <td>{{expense.description}}</td>
                <td>{{expense.date}}</td>
            </tr>
            {% endfor %}

            <tr>
                <td>Total</td>
                <td>{{total}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>